@import "mixins";
@import "normalize";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Domine:400,700');
$font2: "Domine";
$font: "Josefin Sans";

$color-background: #ff8ba8;
$color-text: #000;
$color-selected-text: #fff;
$color-text-hover: #ff8ba8;

html, body {
  background-color: $color-background;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
main {
  padding: 0 1em 10rem 1em;
  font-family: $font, serif;
  background-color: $color-background;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
h1 {
  margin: 0;
  font-size: 18vw;
  font-weight: bold;
  font-family: $font;
}
h2 {
  font-family: $font2;
  font-size: 12vw;
  margin: 1em 0;
}
p {
  font-size: 2vw;
  padding: 0 20%;
}
#lang {
  margin: 4em 0 0 0;
  a {
    padding: 4px 2px 2px;
    margin-right: 4px;
  }
}
h3 {
  font-family: $font2;
  font-size: 6vw;
  margin: 0 0 1em 0;
}

img {
  width: 100%;
  max-width: 256px;
  height: auto;
}

a {
  color: $color-text;
  text-decoration: none;
  padding: 10px 10px 0;
  border-radius: 6px;
  &.hov, &:hover {
    color: $color-text-hover;
    background-color: #fff;
  }
}

.nonselect {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

*:focus {
  outline: none;
}

#cert {
  font-size: 2.4rem;
}
@media screen and (max-height: 1000px) {
  #cert {
    font-size: 3vmin;
  }
}
@media screen and (max-width: 1000px) {
  #cert {
    font-size: 3vmin;
  }
}

#action {
  background-color: #232323;
  color: $color-selected-text;
  border-radius: 6px;
  padding: 30px 20px 20px 20px;
  &:hover {
    color: $color-text-hover;
    background-color: $color-selected-text;
  }
}

hr {
  margin-top: 4em;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, $color-background, #fff, $color-background);
}
hr::after {
  content: '§';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 1rem;
  background-color: $color-background;
  font-size: 2em;
  color: #fff;
}

.image250 {
  width: 250px;
  margin: 0 auto;
}
.image25p {
  width: 25%;
  margin: 0 auto;
}