---
import BaseLayout from "../layouts/BaseLayout.astro"
import Cert from "../components/CertificateSvg.astro"
import ZdrumSvg from "../components/ZdrumSvg.astro";
---

<BaseLayout>
    <div id="input">
        <div>
            <div style="margin-bottom: 40px;">
                Name: <input type="text" id="nameinput">
            </div>
            <div style="margin-bottom: 40px">
                Do you promise to use<br><b>common</b> and only <b>common</b> sense?
            </div>
            <a href="#" onclick="makeCertificate(); return false;" title="Yes, I do!">Yes</a> / <a href="/">No</a>
        </div>
    </div>
    <div id="certificate" style="display: none">
        <div id="cert">
            <div>
                <div class="image25p"><ZdrumSvg/></div>
                <div id="z"><b>ZDRUM</b></div>
                <div id="c">Certificate&nbsp;of&nbsp;Excellence</div>
                <div>is hereby granted to</div>
                <div id="name"></div>
                <div>for using and applying</div>
                <div>healthy, common logic</div>
                <div style="margin-top: 1em;">Issued by <i>Oblac</i>,<br>on <span id="date"></span></div>
            </div>
        </div>
        <Cert/>
    </div>
    <div id="footer"><a href="#" id="download">DOWNLOAD CERTIFICATE</a></div>
</BaseLayout>

<style>
    #cert {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        right: 0;
        letter-spacing: -2px;
    }
    #z {
        font-size: 2em;
        font-weight: bold;
    }
    #c {
        font-size: 1.5em;
    }
    #input {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 100%;
        position: fixed;
        right: 0;
        font-size: 5vw;
    }
    #nameinput {
        border:0;
        border-bottom: 2px solid #000000;
        background-color: #ff8ba8;
        text-align: center;
        font-weight: bold;
    }
    #name {
        font-size: 2em;
        font-weight: bold;
        margin: 1em 0;
    }
    #footer {
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 6px 0 0 0;
        display: none;
    }
    #download {
        color: #fff;
        background-color: #232323;
        border-radius: 0;
        &:hover {
            color: #ff8ba8;
            background-color: #fff;
        }
    }
</style>

<script src="/html2canvas.min.js" is:inline></script>

<script is:inline>
    function makeCertificate() {
        const inputName = document.getElementById("nameinput");
        document.getElementById("input").style.display = "none";
        document.getElementById("certificate").style.display = "block";
        document.getElementById("name").innerHTML = inputName.value;
        document.getElementById("date").innerHTML = new Date().toLocaleDateString('en-US', {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
        });
        document.getElementById("footer").style.display = "block";
    }
    document.addEventListener("DOMContentLoaded", function () {
        const dl = document.getElementById("download");
        dl.addEventListener("click", function () {
            dl.style.display = "none";
            html2canvas(document.body, {
                foreignObjectRendering: true,
                allowTaint: true
            }).then(canvas => {
                var a = document.createElement('a');
                a.href = canvas.toDataURL("image/png");
                a.download = 'zdrum-certificate.png';
                a.click();
            });
        });
    });

</script>
