---
import BaseLayout from "../layouts/BaseLayout.astro"
import ZdrumSvg from "../components/ZdrumSvg.astro";
const languages = [
	'EN', 'RS', 'FR', 'IT', 'DE', 'ES', 'PT', 'PL', 'RO', 'HU', 'GR', 'SE', 'NO',
	'NL', 'DA', 'EE', 'LT', 'LV', 'SK', 'SL', 'CZ', 'HR', 'ME', 'ZH'];
---

<BaseLayout>
	<div class="image250"><ZdrumSvg/></div>

	<h1>ZDRUM</h1>
	<h3>MANIFESTO</h3>

	<p>
		Unlock your full potential with the ultimate comprehensive guide,
		designed to streamline your work and supercharge your productivity
		by merging precision with practicality. Packed with actionable strategies,
		it empowers you to work smarter, not harder.
		Transform your approach, elevate your decision-making, and start reaching new heights!
	</p>

	<hr>

	<div id="lang">
		{languages.map(item => (
			<span><a href="#" onclick="langMe(this); return false;">{item}</a> </span>
		))}
	</div>

	<h2 id="zdrum">1.&nbsp;Use common sense.</h2>

	<a id="action" href="/certificate" style="font-size: 2em;">Get certified NOW!</a>
</BaseLayout>

<script is:inline>
	const m = {
		EN: "Use common sense.",
		RS: "Koristi zdrav razum.",
		FR: "Utilisez votre bon sens.",
		IT: "Usa il buon senso.",
		DE: "Benutze deinen gesunden Menschenverstand.",
		ES: "Usa el sentido común.",
		PT: "Use o bom senso.",
		PL: "Użyj zdrowego rozsądku.",
		RO: "Folosește-ți simțul comun.",
		HU: "Használja az egészséges észjárását.",
		GR: "Χρησιμοποιήστε τον κοινό λόγο.",
		SE: "Använd sunt förnuft.",
		NO: "Bruk sunn fornuft.",
		NL: "Gebruik je gezonde verstand.",
		DA: "Brug almindelig sund fornuft.",
		EE: "Kasutage tervet mõistust.",
		LT: "Naudokite sveiką protą.",
		LV: "Izmantojiet veselo saprātu.",
		SK: "Použite zdravý rozum.",
		SL: "Uporabite zdrav razum.",
		CZ: "Použijte zdravý rozum.",
		HR: "Koristite zdrav razum.",
		ME: "Koristite zdrav razum.",
		ZH: "使用常识。",
	};
	function langMe(e) {
		const msg = m[e.innerHTML];
		if (msg !== undefined) {
			document.getElementById('zdrum').innerHTML = '1.&nbsp;' + msg;
		}
	}
</script>