@import "mixins";
@import "normalize";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Domine:400,700');
$font2: "Domine";
$font: "Josefin Sans";

$color-background: #ff8ba8;
$color-text: #000;
$color-sel: #ffd203;
$color-selected-text: #fff;
$color-text-hover: #ff0000;

html, body {
	background-color: $color-background;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
main {
  margin: 0 auto;
  padding: 0 1em 10rem 1em;
	font-family: $font, serif;
	background-color: $color-background;
	text-align: center;
  text-rendering: optimizeLegibility;
  //text-shadow: 2px 2px 0 #ccc;
}
h1 {
  margin: 0;
  font-size: 18vw;
  font-weight: bold;
  font-family: $font;
}
h2 {
  margin: 0;
  font-family: $font2;
  font-size: 12vw;
}
h3 {
  font-family: $font2;
  font-size: 6vw;
  margin: 0 0 2em 0;
}

img {
  width: 100%;
  max-width: 512px;
  height: auto;
}


a {
  display: block;
  padding: 1em 1.2em;
  color: $color-text;
  text-decoration: none;
  &.hov, &:hover {
    color: $color-text-hover;
  }
}

.nonselect {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

a.selected {
  background-color: $color-text-hover;
  color: $color-selected-text;
}

