{% extends "base.njk" %}
{% block main %}

<img src="/zdrum.png">

<h1>ZDRUM</h1>
<h3>MANIFEST</h3>

<h2 id="zdrum">1)&nbsp;Koristi zdrav razum.</h2>
<div id="lang">
    {% for item in ['RS', 'EN', 'FR'] %}
        <a href="#" onclick="langMe(this); return false;">{{item}}</a>
    {% endfor %}
</div>

<a id="action" href="/certificate" style="font-size: 2em;">Get certified NOW!</a>

{% endblock %}
{% block script %}
<script>
const m = {
  EN: "Use common sense.",
  RS: "Koristi zdrav razum.",
  FR: "Utilisez bon sens."
};
function langMe(e) {
    var msg = m[e.innerHTML];
    if (msg !== undefined) {
        document.getElementById('zdrum').innerHTML = '1) ' + msg;
    }
}
if (window.location.href.indexOf("{{site.support}}") > -1) {
    document.getElementsByTagName("main")[0].style.backgroundColor = "{{site.altColor}}";
    document.getElementById("action").href="/certificate?{{site.support}}"
}
</script>
{% endblock %}
