{% extends "base.njk" %}
{% block main %}

<img src="/zdrum.png">

<h1>ZDRUM</h1>
<h3>MANIFEST</h3>

<h2>1)&nbsp; Koristi zdrav razum.</h2>

<a href="/certificate" style="font-size: 2em;">Get certified NOW!</a>

{% endblock %}
{% block script %}
{% endblock %}
