<nav role='navigation'>
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <li><a href="https://oblac.rs/metodologijom-ces-me-metodologijom-cu-te/" target="_blank">Šta je ZDRUM?</a></li>
      <li><a href="https://twitter.com/share?url=https://zdrum.work" target="_blank"><img src="/twitter.png" alt="Podeli na Tviteru"></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://zdrum.work" target="_blank"><img src="/facebook.png" alt="Podeli na Fajsu"></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://zdrum.work" target="_blank"><img src="/linkedin.png" alt="Podeli na Linkedinu"></a>
      </li>
      <li><a href="https://www.patreon.com/bePatvaljdaron?u=16578721" data-patreon-widget-type="become-patron-button" target="_blank">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script></li>
    </ul>
  </div>
</nav>
